<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aisling</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body >
        <div id="app">
            <div id="div_alert_background" style="display:none">
                <div id="div_alert_box">
                    <span id="div_alert_text"></span>
                    <div id="div_alert_buttons">
                    </div>
                </div>
            </div>
            <div id="div_entries" class="split" style="overflow-y:auto">
                <input type="text" id="input_search" v-model="search_text"/>
                <ul id="ul_entries" class="scrollable">
                    <li v-for="entry in filtered_entries()" v-bind:class="{ selected: entry === current_entry }" v-on:click="view_entry(entry)">
                        {{entry.word}}
                    </li>
                </ul>
            </div>
            <div id="div_detail" class="split">
                <div id="div_view_bts" class="top_bts" v-if="mode === 'view'">
                    <div id="bt_new" v-on:click="new_entry()">new</div>
                    <div id="bt_edit" v-on:click="edit_entry()" v-if="current_entry.word != ''">edit</div>
                </div>
                <div id="div_edit_bts" class="top_bts" v-if="mode === 'edit'">
                    <div id="bt_delete" v-on:click="delete_entry()" v-if="current_entry.word != ''">delete</div>
                    <div id="bt_save" v-on:click="save_entry()">save</div>
                    <div id="bt_cancel" v-on:click="cancel_edit()">cancel</div>
                </div>
                <div v-for="module in modules" :is="module" :entry="temp_entry" :mode="mode" :search_text.sync="search_text"></div>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>
