body {
    color:white;
    background-color:black;
    font-family: 'Open Sans';
    display: flex;
    flex-direction: row;
    margin:0;
}
#status_bar {
    position:absolute;
    padding:4px;
    bottom:0;
    height:40px;
    border-top: 1px solid white;
}



#div_entries {
    overflow-y: auto;
    max-height:97vh;
    width:100px;
}

#ul_entries {
    list-style: none;
    padding:2px;
    margin:0px;
    cursor:default;
    color: grey;
}

#ul_entries li:hover {
    color:goldenrod;
}

#ul_entries li:checked {
    color:white;
}

#ul_entries li:active {
    color:white;
}

#ul_entries li:focus {
    color:white;
}

#div_entries::-webkit-scrollbar-track {
    background-color: #000000;
}

#div_entries::-webkit-scrollbar {
    width: 6px;
    background-color: #000000;
}

#div_entries::-webkit-scrollbar-thumb {
    background-color: #333;
}

.top_bts {
    color: #333;
    position:absolute;
    width: 90px;
    left:100%;
    top:10px;
    transform: translateX(-120%);
    cursor:default;
    padding:4px;
}

.top_bts > div {
    margin:4px;
    display:inline;
}
.top_bts > div:hover {
    color:goldenrod;
}

#div_detail > div {
    margin: 12px;
}

h2 {
    margin:0px;
}